<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<main>
  <mat-card *ngIf="!isLoading" class="form-container">
    <form [formGroup]="form" (submit)="onSend()">
      <mat-form-field appearance="standard" hintLabel="Max 120 characters">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" maxlength="120">
        <mat-hint align="end">{{ form.get('title').value?.length || 0 }}/120</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Conteúdo</mat-label>
        <textarea matInput cdkTextareaAutosize rows="4" formControlName="markdown" (keydown)="checkTab($event)"></textarea>
        <mat-hint><a href="https://commonmark.org/help" target="_blank">Markdown reference</a></mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" hintLabel="Max 200 characters">
        <mat-label>Descrição</mat-label>
        <textarea matInput cdkTextareaAutosize rows="2" formControlName="description" maxlength="200"></textarea>
        <mat-hint align="end">{{ form.get('description').value?.length || 0 }}/200</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ícone</mat-label>
        <input matInput formControlName="icon">
        <mat-hint><a href="https://material.io/resources/icons" target="_blank">Icons reference</a></mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #labelsList>
          <mat-chip *ngFor="let label of labels" [removable]="true" (removed)="removeLabel(label)">
            {{ label }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput formControlName="labelsInput" placeholder="Add label..." [matChipInputFor]="labelsList" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addLabel($event)">
        </mat-chip-list>
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">Enviar</button>
      <p *ngIf="modified" class="mat-body-1">Última modificação {{modified}}</p>
    </form>
  </mat-card>
</main>
