.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 1rem 3rem 1rem 2rem;
  overflow: hidden;
}
.box {
  box-sizing: inherit;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  touch-action: none;
}
.item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.item {
  flex: 1;
  max-width: 16rem;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  margin: 0 .75rem;
  user-select: none;
  -webkit-user-select: none;
}
.item:first-child {
  margin-left: 0;
}
.item:last-child {
  margin-right: 0;
}
.item-title {
  word-break: break-all;
  overflow-wrap: break-word;
}
.item-content {
  margin: auto !important;
  -webkit-user-drag: none;
}
.item-actions {
  display: flex;
  justify-content: space-evenly;
}
