<div class="container" (dragstart)="onDrag($event)">
  <div class="carousel-title mat-title">
    {{ title }}
  </div>
  <div class="box" #box (pointerdown)="onPress($event)" (pointermove)="onMove($event)" (pointerup)="onRelease()">
    <ng-container *ngIf="!items.length; else card">
      <carousel-loader *ngFor="let item of skeleton" class="item mat-elevation-z1"></carousel-loader>
    </ng-container>
    <ng-template #card>
      <mat-card *ngFor="let item of items" class="item mat-elevation-z1">
        <div class="item-header">
          <div class="item-icon">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <h4 class="item-title mat-title">{{ item.title }}</h4>
        </div>
        <img *ngIf="item.img" [src]="item.img" class="item-content" draggable="false">
        <mat-card-content *ngIf="!item.img" class="item-content mat-body-2">{{ item.desc }}</mat-card-content>
        <mat-card-actions class="item-actions">
          <button mat-icon-button (click)="onShare(item.uri)">
            <mat-icon>share</mat-icon>
          </button>
          <a [routerLink]="item.uri" mat-mini-fab class="mat-elevation-z" color="primary">
            <mat-icon>read_more</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>
</div>
