<form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="photo-field">
        <div class="photo-wrapper" [class]="noFocus">
          <img [src]="preview || photo">
        </div>
        <button *ngIf="!uploadStatus || !uploadStatus.isUploading" mat-mini-fab type="button" class="photoMenu-btn" [ngClass]="{'form--reading': read}"
          [matMenuTriggerFor]="photoMenu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #photoMenu="matMenu" xPosition="before">
          <button mat-menu-item type="button" color="primary" (click)="photoInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            Upload
          </button>
          <button *ngIf="preview" mat-menu-item (click)="onRevertImage()">
            <mat-icon>autorenew</mat-icon>
            <span>Reverter</span>
          </button>
          <button *ngIf="!preview" mat-menu-item (click)="onGetGravatar()">
            <mat-icon>cloud_circle</mat-icon>
            Gravatar
          </button>
        </mat-menu>
        <button mat-mini-fab *ngIf="preview && !uploadStatus.hasUploaded" class="photo-btn" type="button"
          [color]="uploadStatus.isUploading ? 'accent' : 'primary'"
          (click)="uploadStatus.isUploading ? onAbortUpload() : onUploadImage()">
          <mat-icon>{{ uploadStatus.isUploading ? 'cancel_schedule_send' : 'send' }}</mat-icon>
        </button>
      </div>
      <div class="file">
        <input class="file-input" type="file" #photoInput accept=".png, .jpg, .jpeg, .svg, .webp"
          (change)="onPickImage($event)">
        <mat-progress-bar *ngIf="preview && uploadStatus.isUploading" class="file-status" mode="determinate"
          [value]="uploadStatus.uploadProgress"></mat-progress-bar>
      </div>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Último nome</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Cidade" formControlName="city">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-select placeholder="Estado" formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" [ngClass]="{'form--reading': read}" type="submit">Salvar</button>
</form>