mat-form-field {
  display: block;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.col {
  flex: 1;
  margin-right: 20px;
}
.col:last-child {
  margin-right: 0;
}
input[type="file"] {
  opacity: 0;
  max-width: 16rem;
}
.photo-field {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  overflow: hidden;
}
.photo-wrapper img {
  max-height: 100%;
  width: auto;
}
.photoMenu-btn {
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.photo-btn {
  position: absolute;
  bottom: .5rem;
  right: 1.5rem;
}
mat-card-actions {
  text-align: center;
}
