<form [formGroup]="professionalForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="logo-field">
        <div class="logo-wrapper" [class]="noFocus">
          <img [src]="upload || logo" [alt]="logoName">
        </div>
        <button *ngIf="!read" mat-mini-fab type="button" class="logoMenu-btn" [matMenuTriggerFor]="logoMenu"
          aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #logoMenu="matMenu" xPosition="before">
          <button mat-menu-item type="button" color="primary" (click)="logoInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            Upload
          </button>
          <button *ngIf="upload" mat-menu-item (click)="onRevertImage()">
            <mat-icon>autorenew</mat-icon>
            <span>Remover</span>
          </button>
        </mat-menu>
        <button mat-mini-fab *ngIf="!read && upload" class="logo-btn" type="button" color="accent"
          (click)="onSaveImage()">
          <mat-icon>{{ logoName ? 'send' : 'save'}}</mat-icon>
        </button>
      </div>
      <input type="file" #logoInput accept=".png, .jpg, .jpeg, .svg, .webp" multiple="false" (change)="onPick($event)">
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Profissão</mat-label>
        <input matInput formControlName="profession">
      </mat-form-field>
      <mat-form-field appearance="fill" hintLabel="Apelido formal">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Biodata</mat-label>
        <textarea matInput formControlName="biodata" cdkTextareaAutosize></textarea>
        <mat-hint>Apresentação pessoal. Inclui objetivos, experiências, valor de contratação..</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="!read" class="row" formArrayName="skills">
    <div class="col">
      <div class="mat-subheading-2 label-title">
        <button mat-mini-fab type="button" class="btn-icon" (click)="addEntry('skills')">
          <mat-icon>add</mat-icon>
        </button>
        Skills
      </div>
      <div class="row" *ngFor="let skill of skills.controls; let i = index">
        <mat-form-field appearance="outline">
          <mat-label>Habilidade</mat-label>
          <input matInput [formControlName]="i">
          <button mat-icon-button matSuffix type="button" (click)="rmEntry('skills', 'chips', i)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </mat-form-field>
        <div class="col col-fill">
          <mat-form-field appearance="standard">
            <mat-chip-list #values>
              <mat-chip *ngFor="let item of chips[i]" [removable]="true" (removed)="rmChip(i, item)">
                {{ item }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input matInput placeholder="Add prop..." [matChipInputFor]="values" [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addChip(i, $event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!read" class="row" formArrayName="social">
    <div class="col">
      <div class="mat-subheading-2 label-title">
        <button mat-mini-fab type="button" class="btn-icon" (click)="addEntry('social')">
          <mat-icon>add</mat-icon>
        </button>
        Social
      </div>
      <div class="row" *ngFor="let link of social.controls; let i = index">
        <mat-form-field appearance="outline">
          <mat-label>Comunidade</mat-label>
          <input matInput [formControlName]="i">
          <button mat-icon-button matSuffix type="button" (click)="rmEntry('social', 'urls', i)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </mat-form-field>
        <div class="col col-fill">
          <mat-form-field appearance="standard">
            <mat-label>URL</mat-label>
            <input matInput type="url" (change)="addUrl(i, $event)">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-center">
    <button *ngIf="!read" mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>
