<div class="social">
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>email</mat-icon>
    <div class="social-text">
      <span>Gmail</span>
    </div>
    <a class="social-link" href="mailto:ruansenadev@gmail.com?&subject=&body=" target="_blank"></a>
  </mat-card>
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>phone</mat-icon>
    <div class="social-text">
      <span>Whatsapp</span>
    </div>
    <a class="social-link" href="https://wa.me/5575999433169" target="_blank"></a>
  </mat-card>
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>chat</mat-icon>
    <div class="social-text">
      <span>Discord</span>
    </div>
    <a class="social-link" href="https://discord.gg/Ekwt9xg" target="_blank"></a>
  </mat-card>
</div>
