<div class="social">
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>email</mat-icon>
    <div class="social-text">
      <span>Gmail</span>
    </div>
    <a class="social-link" href="mailto:ruansenadev@gmail.com?&subject=&body=" target="_blank"></a>
  </mat-card>
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>phone</mat-icon>
    <div class="social-text">
      <span>Whatsapp</span>
    </div>
    <a class="social-link" href="https://wa.me/5511951949746?text=Ol%C3%A1%2C%20eu%20estava%20olhando%20seu%20Portfolio%20" target="_blank"></a>
  </mat-card>
</div>
