<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<main>
  <mat-card *ngIf="!isLoading" class="form-container">
    <form [formGroup]="form" (submit)="onSend()">
      <mat-form-field hintLabel="Nome do projeto" appearance="standard">
        <mat-label>Projeto</mat-label>
        <input matInput formControlName="name" required (change)="onIntroChange()">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option>-</mat-option>
          <mat-option value="Protótipagem">Protótipagem</mat-option>
          <mat-option value="Desenvolvimento">Desenvolvimento</mat-option>
          <mat-option value="Encerrado">Encerrado</mat-option>
          <mat-option value="Finalizado">Finalizado</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title *ngIf="thumbnail">{{ thumbnail }}</mat-panel-title>
            <mat-panel-description>
              Thumbnail
              <mat-icon>insert_photo</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="preview" class="imagePreview">
            <img [src]="preview" alt="Cannot preview SVGs">
          </div>
          <input type="file" #thumb accept=".png, .jpg, .jpeg, .svg, .webp" multiple="false" (change)="onPick($event)">
          <mat-action-row>
            <button mat-stroked-button type="button" color="primary" (click)="thumb.click()">Upload</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput cdkTextareaAutosize rows="3" formControlName="description" required maxlength="330" (change)="onIntroChange()"></textarea>
        <mat-hint>Um parágrafo sobre o projeto</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" hintLabel="Adicione conteúdos, recursos, referências... (Descrição é mantida)">
        <mat-label>Visão geral</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="overview" rows="6" (keydown)="onOverviewInput($event)" (change)="onOverviewChange()"></textarea>
        <mat-hint align="end"><a href="https://commonmark.org/help" target="_blank">Markdown reference</a></mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #technologiesList>
          <mat-chip *ngFor="let item of chips.technologies" [removable]="true" (removed)="removeChip(item, 'technologies')">
            {{ item }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput formControlName="technologies" placeholder="Add tecnologia..." [matChipInputFor]="technologiesList" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addChip($event, 'technologies')">
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input matInput type="url" formControlName="url" required>
        <mat-hint>Source externa</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" hintLabel="Site">
        <mat-label>Página inicial</mat-label>
        <input matInput type="url" formControlName="homepage">
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #keywordsList>
          <mat-chip *ngFor="let word of chips.keywords" [removable]="true" (removed)="removeChip(word, 'keywords')">
            {{ word }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput formControlName="keywords" placeholder="Add palavra-chave..." [matChipInputFor]="keywordsList" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addChip($event, 'keywords')">
        </mat-chip-list>
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">Enviar</button>
    </form>
  </mat-card>
</main>
