main {
  padding-bottom: 1rem;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}
mat-card {
  margin-bottom: 1rem;
}
blog-post-list, blog-archives {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 47.5rem) {
  blog-post-list {
    width: unset;
    flex: 1;
    padding-right: 1rem;
  }
  blog-archives {
    width: unset;
  }
}
