main {
  padding: 2rem .5rem 1rem;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
mat-card {
  margin-bottom: 1rem;
}
app-blog-post-list, app-blog-archives {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 47.5rem) {
  app-blog-post-list {
    width: unset;
    flex: 1;
    margin-right: 1rem;
  }
  app-blog-archives {
    width: unset;
  }
}
