.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}
.feed {
  width: 50rem;
  margin-bottom: 1rem;
}
mat-card {
  margin-bottom: 1rem;
}
