<main class="blog">
  <app-post-list class="feed"></app-post-list>
  <aside class="aside">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Aside
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, nesciunt quo voluptatibus odit nobis obcaecati
        unde tenetur incidunt. Perspiciatis, labore non sapiente laboriosam iusto laborum excepturi distinctio
        delectus minus odit!
      </mat-card-content>
    </mat-card>
  </aside>
</main>
