<div class="social">
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>phone</mat-icon>
    <div class="social-text">
      <span>Whatsapp</span>
    </div>
    <a class="social-link" href="#"></a>
  </mat-card>
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>email</mat-icon>
    <div class="social-text">
      <span>Gmail</span>
    </div>
    <a class="social-link" href="#"></a>
  </mat-card>
  <mat-card class="social-item mat-elevation-z4">
    <mat-icon>chat</mat-icon>
    <div class="social-text">
      <span>Discord</span>
    </div>
    <a class="social-link" href="#"></a>
  </mat-card>
</div>
<mat-divider></mat-divider>
