<div class="flow">
  <mat-card class="process mat-elevation-z">
    <mat-card-header>
      <mat-card-title>
        Análise
      </mat-card-title>
      <mat-card-subtitle>
        Requerimentos
      </mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="icon-img">insights</mat-icon>
  </mat-card>
  <mat-card class="process mat-elevation-z">
    <mat-card-header>
      <mat-card-title>
        Protótipagem
      </mat-card-title>
      <mat-card-subtitle>
        Diagramas
      </mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="icon-img">device_hub</mat-icon>
  </mat-card>
  <mat-card class="process mat-elevation-z">
    <mat-card-header>
      <mat-card-title>
        Desenvolvimento
      </mat-card-title>
      <mat-card-subtitle>
        Sistemas
      </mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="icon-img">code</mat-icon>
  </mat-card>
  <mat-card class="process mat-elevation-z">
    <mat-card-header>
      <mat-card-title>
        Design
      </mat-card-title>
      <mat-card-subtitle>
        Estilos
      </mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="icon-img">design_services</mat-icon>
  </mat-card>
  <mat-card class="process mat-elevation-z">
    <mat-card-header>
      <mat-card-title>
        Deploy
      </mat-card-title>
      <mat-card-subtitle>
        Testes
      </mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="icon-img">pest_control</mat-icon>
  </mat-card>
</div>
