.hero {
  padding: 3rem 1.5rem;
  margin: 1rem .5rem 3rem;
  border-radius: unset;
}
.photo {
  border-radius: 50%;
  margin-bottom: 0;
}
mat-list {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
}
mat-list-item {
  flex: 1;
}
