<mat-card *ngIf="account" class="mat-elevation-z hero">
  <mat-card-header>
    <mat-icon mat-card-avatar>code</mat-icon>
    <mat-card-title>
      {{ account.profession }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ account.biodata }}</p>
    <mat-list>
      <mat-list-item *ngFor="let skill of account.skills | keyvalue">
        <h4 matLine>{{ skill.key }}</h4>
        <p matLine>{{ transformValue(skill.value) }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
