<main class="container">
  <mat-card class="beam mat-elevation-z2">
    <span>Projetos</span>
    <a *ngIf="isAuth" mat-mini-fab routerLink="new">
      <mat-icon>add</mat-icon>
    </a>
  </mat-card>
  <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
    <li *ngFor="let project of projects" class="mdc-image-list__item mat-card mat-elevation-z3">
      <div class="mdc-image-list__header">
        <mat-chip-list>
          <mat-chip *ngFor="let item of project.technologies">{{ item }}</mat-chip>
        </mat-chip-list>
        <div *ngIf="isAuth">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <a mat-menu-item [routerLink]="['edit', project.seq]">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </a>
            <button mat-menu-item (click)="delProject(project)">
              <mat-icon>delete_forever</mat-icon>
              <span>Apagar</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <img *ngIf="project.thumbnailPath" class="mdc-image-list__image" [src]="project.thumbnailPath">
      <p *ngIf="!project.thumbnailPath" class="mat-body-2 list__text">
        {{ project.description }}
      </p>
      <mat-divider [inset]="true"></mat-divider>
      <a [routerLink]="[project.seq]" class="mdc-image-list__supporting" [matBadge]="project.seq"
        matBadgePosition="before" matBadgeSize="large">
        <div class="mdc-image-list__label">{{ project.name }}</div>
        <mat-chip-list class="mdc-image-list__chip">
          <mat-chip [color]="statusColors[project.status]" selected>
            <mat-icon class="chip-icon">{{ statusIcons[project.status] }}</mat-icon>
            {{ project.status }}
          </mat-chip>
        </mat-chip-list>
      </a>
    </li>
  </ul>
  <div *ngIf="hasMore" class="expand">
    <button *ngIf="!isFetching" mat-mini-fab color="accent" (click)="onLoadMore()">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-spinner *ngIf="isFetching" [diameter]="40"></mat-spinner>
  </div>
</main>
