<main class="container">
  <mat-card class="beam mat-elevation-z2">Projetos</mat-card>
  <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
    <li *ngFor="let project of projects" class="mdc-image-list__item mat-card mat-elevation-z3">
      <div class="mdc-image-list__header">
        <mat-chip-list>
          <mat-chip *ngFor="let item of project.technologies">{{ item }}</mat-chip>
        </mat-chip-list>
      </div>
      <img *ngIf="project.thumbnailPath" class="mdc-image-list__image" [src]="project.thumbnailPath">
      <p *ngIf="!project.thumbnailPath" class="mat-body-2 list__text">
        {{ project.description }}
      </p>
      <mat-divider [inset]="true"></mat-divider>
      <a [routerLink]="[project.seq]" class="mdc-image-list__supporting" [matBadge]="project.seq" matBadgePosition="before" matBadgeSize="large">
        <div class="mdc-image-list__label">{{ project.name }}</div>
        <mat-chip-list class="mdc-image-list__chip">
          <mat-chip [color]="statusColors[project.status]" selected>
            <mat-icon class="chip-icon">{{ statusIcons[project.status] }}</mat-icon>
            {{ project.status }}
          </mat-chip>
        </mat-chip-list>
      </a>
    </li>
  </ul>

  <!-- <mat-card-actions>
    <a mat-mini-fab color="primary" [routerLink]="[project.seq]">
      <mat-icon>read_more</mat-icon>
    </a>
    <div *ngIf="isAuth" class="options">
      <a mat-mini-fab [routerLink]="['edit', project.seq]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-mini-fab color="warn" (click)="delProject(project)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </mat-card-actions> -->
</main>
