@use '@material/image-list/mdc-image-list';
@use "@material/image-list";

.my-masonry-image-list {
  @include image-list.masonry-columns(1);
  max-width: 58rem;
  padding: 0 1rem 1rem;
}
@media (min-width: 31.25rem) {
  .my-masonry-image-list {
    @include image-list.masonry-columns(2);
  }
}
@media (min-width: 43.25rem) {
  .my-masonry-image-list {
    @include image-list.masonry-columns(3);
  }
}
.mdc-image-list__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.mdc-image-list__supporting {
  flex-flow: column wrap;
  text-decoration: none;
  color: inherit;
}
.mdc-image-list__label {
  flex: 1;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: .5rem;
  white-space: normal;
}
.mdc-image-list__chip {
  margin-left: auto;
}
.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 60rem;
}
.beam {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 30rem;
  margin: 0 auto 1rem;
}
.chip-icon {
  margin-right: .25rem;
}
.expand {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}
