<div class="rain">
  <p class="lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore nobis natus ad porro
    quasi. Rerum
    quisquam deserunt quae laudantium nihil et temporibus facere, nemo ducimus esse mollitia a numquam praesentium?
  </p>
  <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, soluta quos. Iusto, dolore
    ut?
    Quos distinctio in odio expedita soluta, officia reiciendis placeat reprehenderit sunt deleniti praesentium saepe
    non rem!</p>
  <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quibusdam harum debitis hic
    veritatis
    tempore voluptas, quas sunt nemo rerum ullam aliquam eaque autem alias minus aperiam sed, qui et?</p>
  <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio distinctio porro recusandae in
    incidunt mollitia est! Optio quaerat, facere, quas nam maxime, temporibus dolorum reprehenderit excepturi
    voluptatibus quis officia neque.</p>
</div>
