<main class="article">
  <mat-card class="post">
    <mat-card-header>
      <mat-icon mat-card-avatar>{{ post.icon }}</mat-icon>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle class="post-info">
        <div class="info">
          <mat-icon inline class="info-icon">calendar_today</mat-icon>
          <span>{{ post.date_formated.locale }}</span>
        </div>
        <div class="info">
          <mat-icon inline class="info-icon">hourglass_empty</mat-icon>
          <span>{{ post.reading.text }}</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <markdown emoji lineNumbers ngPreserveWhitespaces [data]="post.markdown"></markdown>
    </mat-card-content>
    <mat-card-footer>
      <mat-chip-list>
        <mat-chip *ngFor="let label of post.labels">{{ label }}</mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>
</main>
