.article {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
}
.post {
  width: 50rem;
  margin-bottom: 1rem;
}
mat-card {
  margin-bottom: 1rem;
}
mat-card-footer {
  padding: .5rem 1rem;
}
.post-info {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
  line-height: 1.7;
  font-size: 1rem;
  margin: 0 .5rem;
}
.info-icon {
  margin-right: .25rem;
}