.grid-container {
  margin: 1rem;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
mat-card-header {
  margin-bottom: 1rem;
}
