<main>
  <h2 class="mat-h2">Dashboard</h2>
  <section>
    <mat-accordion class="headers-align">
      <ng-container *ngFor="let panel of panels">
        <ng-container [ngSwitch]="panel.title">
          <ng-container *ngSwitchCase="'Perfil'">
            <mat-expansion-panel (closed)="panel.r = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ panel.title }}
                </mat-panel-title>
                <mat-panel-description>
                  Informações pessoais
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <admin-profile-form [account]="account" [read]="panel.r" (done)="panel.r = $event"></admin-profile-form>
              <mat-action-row>
                <button mat-stroked-button [color]="panel.r ? 'primary' : 'warn'" (click)="panel.r = !panel.r">{{panel.r ? 'Editar' : 'Cancelar'}}</button>
              </mat-action-row>
            </mat-expansion-panel>
          </ng-container>

          <ng-container *ngSwitchCase="'Profissional'">
            <mat-expansion-panel (closed)="panel.r = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ panel.title }}
                </mat-panel-title>
                <mat-panel-description>
                  Informações de trabalho
                  <mat-icon>assignment_ind</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <admin-professional-form [account]="account" [read]="panel.r" (done)="panel.r = $event"></admin-professional-form>
              <mat-action-row>
                <button mat-stroked-button [color]="panel.r ? 'primary' : 'warn'" (click)="panel.r = !panel.r">{{panel.r ? 'Editar' : 'Cancelar'}}</button>
              </mat-action-row>
            </mat-expansion-panel>
          </ng-container>

          <ng-container *ngSwitchCase="'Conta'">
            <mat-expansion-panel (closed)="panel.r = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ panel.title }}
                </mat-panel-title>
                <mat-panel-description>
                  Dados de login
                  <mat-icon>account_box</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <admin-account-form [account]="account" [read]="panel.r" (done)="panel.r = $event"></admin-account-form>
              <mat-action-row>
                <button mat-stroked-button [color]="panel.r ? 'primary' : 'warn'" (click)="panel.r = !panel.r">{{panel.r ? 'Editar' : 'Cancelar'}}</button>
              </mat-action-row>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-accordion>
  </section>
</main>
