<main class="article">
  <mat-card class="project">
    <mat-card-header>
      <mat-card-title>
        {{ project.name }}
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip [color]="statusColors[project.status]" selected>
            <mat-icon class="status-icon">{{ statusIcons[project.status] }}</mat-icon>
            {{ project.status }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <img *ngIf="project.thumbnailPath" mat-card-md-image [src]="project.thumbnailPath" class="thumbnail">
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs color="accent">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>subtitles</mat-icon>
            <span class="tab-name">Tecnologias</span>
          </ng-template>
          <div class="tab-box">
            <mat-chip-list>
              <mat-chip *ngFor="let tech of project.technologies" [ngStyle]="{ 'margin': '0.25rem 0.5rem' }">{{ tech }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>link</mat-icon>
            <span class="tab-name">Referência</span>
          </ng-template>
          <div class="tab-box">
            <a [href]="project.url">{{ project.url }}</a>
          </div>
        </mat-tab>
        <mat-tab *ngIf="project.homepage">
          <ng-template mat-tab-label>
            <mat-icon>home</mat-icon>
            <span class="tab-name">Página</span>
          </ng-template>
          <div class="tab-box">
            <a [href]="project.homepage">{{ project.homepage }}</a>
          </div>
        </mat-tab>
      </mat-tab-group>
      <markdown lineNumbers ngPreserveWhitespaces [data]="project.overview"></markdown>
    </mat-card-content>
    <mat-card-footer>
      <mat-chip-list>
        <mat-chip *ngFor="let word of project.keywords" [ngStyle]="{ 'margin': '0.25rem 0.5rem' }">{{ word }}</mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>
</main>
