<div class="projects-carousel">
  <mat-card class="project" *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-title [matBadge]="project.seq" matBadgeOverlap="false">
        {{ project.name }}
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon [color]="statusColors[project.status]" [inline]="true">{{ statusIcons[project.status] }}</mat-icon>
        {{ project.status }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image *ngIf="project.thumbnailPath" [src]="project.thumbnailPath" [alt]="project.name">
    <mat-card-content *ngIf="!project.thumbnailPath" class="description">
      {{ project.description }}
    </mat-card-content>
    <mat-card-footer>
      <button mat-icon-button (click)="showShareables(project.seq)">
        <mat-icon>share</mat-icon>
      </button>
      <a mat-mini-fab color="primary" [routerLink]="['album', project.seq]">
        <mat-icon>read_more</mat-icon>
      </a>
    </mat-card-footer>
  </mat-card>
</div>
<mat-divider></mat-divider>
