<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Blog</mat-card-title>
      <mat-card-subtitle>Página {{left+1}}</mat-card-subtitle>
    </mat-card-title-group>
    <a *ngIf="isAuth" class="top-btn" mat-fab color="accent" [routerLink]="['/new']">
      <mat-icon>post_add</mat-icon>
    </a>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <div class="post-item" *ngFor="let post of posts; last as last">
        <a mat-list-item [routerLink]="['/', post.slug]">
          <mat-icon matListIcon>{{post.icon}}</mat-icon>
          <h4 matLine>{{post.title}}</h4>
          <p *ngIf="post.description" matLine>{{post.description}}</p>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </a>
        <mat-toolbar *ngIf="isAuth">
          <a mat-mini-fab color="primary" class="btn-action" [routerLink]="['edit', post.slug]">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button type="button" class="btn-action" color="warn" (click)="delPost(post)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-toolbar>
      </div>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [length]="length" [pageSize]="items" [pageSizeOptions]="itemsOptions" (page)="onPaginate($event)">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
