.btn-action {
  margin: 0 1rem;
}
mat-card-header {
  text-align: center;
  justify-content: space-between;
}
.post-item {
  display: flex;
  align-items: center;
}
mat-toolbar {
  width: auto;
  padding: 0;
}
