<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Blog</mat-card-title>
      <mat-card-subtitle>Página {{left+1}}</mat-card-subtitle>
    </mat-card-title-group>
    <a class="btn--top" *ngIf="isAuth" mat-mini-fab [routerLink]="['new']">
      <mat-icon>post_add</mat-icon>
    </a>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!posts.length">
      <post-list-loader *ngFor="let item of skeleton"></post-list-loader>
    </ng-container>
    <mat-nav-list>
      <div class="post-item" *ngFor="let post of posts; last as last">
        <a mat-list-item [routerLink]="[post.slug]">
          <mat-icon matListIcon>{{post.icon}}</mat-icon>
          <h4 matLine>{{post.title}}</h4>
          <p *ngIf="post.description" matLine>{{post.description}}</p>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </a>
        <div *ngIf="isAuth">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <a mat-menu-item [routerLink]="['edit', post.slug]">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </a>
            <button mat-menu-item (click)="delPost(post)">
              <mat-icon>delete_forever</mat-icon>
              <span>Apagar</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [length]="length" [pageSize]="items" [pageSizeOptions]="itemsOptions" (page)="onPaginate($event)">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
