<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf="(isHandset$ | async) === false">ruansenadev</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon class="nav-icon">home</mat-icon>
        Início
      </a>
      <a mat-list-item [routerLink]="['/album']" routerLinkActive="mat-primary" >
        <mat-icon class="nav-icon">dynamic_feed</mat-icon>
        Projetos
      </a>
      <a mat-list-item [routerLink]="['/blog']" routerLinkActive="mat-accent" >
        <mat-icon class="nav-icon">list_alt</mat-icon>
        Blog
      </a>
    </mat-nav-list>
    <mat-card *ngIf="account" class="mat-elevation-z profile">
      <mat-card-header class="profile-name">
        <mat-card-title>
          {{ account.fullName }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-lg-image class="profile-img" [src]="account.photo" [alt]="account.name">
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async" color="primary">
      <button
        type="button"
        aria-label="Alternar menu lateral"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Menu lateral ícone">menu</mat-icon>
      </button>
      <span>ruansenadev</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
