<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf="(isHandset$ | async) === false">ruansenadev</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="onNav('nav')">
        <mat-icon class="nav-icon">home</mat-icon>
        Início
      </a>
      <a mat-list-item [routerLink]="['/album']" (click)="onNav('nav')">
        <mat-icon class="nav-icon">dynamic_feed</mat-icon>
        Projetos
      </a>
      <a mat-list-item [routerLink]="['/blog']" (click)="onNav('nav')">
        <mat-icon class="nav-icon">list_alt</mat-icon>
        Blog
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="onSwitchTheme($event)">
        <mat-icon class="nav-icon">wb_incandescent</mat-icon>
      </a>
    </mat-nav-list>
    <mat-card *ngIf="account" class="mat-elevation-z profile">
      <mat-card-header class="profile-name">
        <mat-card-title>
          {{ account.fullName }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-lg-image class="profile-img" [src]="account.photo" [alt]="account.name">
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async" class="top-nav" color="primary" #topNav>
      <button type="button" class="nav-icon" aria-label="Alternar menu lateral" mat-icon-button
        (click)="onToggle('nav')">
        <mat-icon aria-label="Menu lateral ícone">menu</mat-icon>
      </button>
      <span>ruansenadev</span>
      <span class="spacer"></span>
      <button *ngIf="isAuth" type="button" aria-label="Alternar menu admin" mat-icon-button
        (click)="onToggle('navAdmin')">
        <mat-icon aria-label="Menu admin ícone">admin_panel_settings</mat-icon>
      </button>

    </mat-toolbar>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #_drawer *ngIf="isAuth" class="sidenav" fixedInViewport position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div *ngIf="account" class="profile-admin">
        <div class="profile-avatar" [ngStyle]="{'background-image': 'url('+account.photo+')'}"></div>
        {{ account.nickname || account.fullName }}
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" (click)="onNav('navAdmin')">
        <mat-icon class="nav-icon">dashboard</mat-icon>
        Painel
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="onLogout($event)" class="nav-item">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
