.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.personal, .professional {
  margin: .5rem;
}
.professional {
  flex: 1;
}
.photo {
  border-radius: 50%;
  margin-bottom: 0;
}
mat-list {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
}
mat-list-item {
  flex: 1;
}
