<main>
  <section id="Profile">
    <app-home-hero [admin]="admin"></app-home-hero>
  </section>
  <section id="Album" class="mat-elevation-z2">
    <app-carousel [title]="'Projetos'" [items]="projects | carousel : 'project'"></app-carousel>
  </section>
  <section id="Workflow">
    <mat-card class="section-heading mat-elevation-z">
      <h3 class="section-title">
        Como trabalho
      </h3>
      <p matLine>Processo de desenvolvimento e criação</p>
    </mat-card>
    <app-work></app-work>
  </section>
  <section id="Blog" class="mat-elevation-z2">
    <app-carousel [title]="'Blog'" [items]="posts | carousel : 'post'"></app-carousel>
  </section>
  <section id="Contact">
    <mat-card class="section-heading mat-elevation-z">
      <h3 class="section-title">
        Vamos conversar
      </h3>
      <p matLine>Para trabalho, projetos ou networking</p>
    </mat-card>
    <app-home-contact></app-home-contact>
  </section>
</main>
